<div class="currency-box" *ngIf="portfolioLineList != null; else empty">
  <h2>Portfolio Line</h2>
  <span>
    <a [routerLink]="['/portfolio-line', 'new']">
      <fa-icon [icon]="new"></fa-icon> Add New
    </a>
  </span>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Functionality</th>
    </tr>
    </thead>
    <tbody>
    <tr class="currency-list" *ngFor="let portfolioLine of portfolioLineList">
      <th scope="row">{{portfolioLine.id}}</th>
      <td>{{portfolioLine.amount}}</td>
      <td>
      <span>
        <a [routerLink]="['/portfolio-line', portfolioLine.id, 'edit']" [queryParams]="{amount: portfolioLine.amount}">
          <fa-icon [icon]="edit"></fa-icon>
        </a>
      </span>
        <span (click)="removePortfolioLine(portfolioLine.id)">
        <fa-icon [icon]="trash"></fa-icon>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <span>Loading...</span>
</ng-template>

