<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">Cryptocurrency portfolio</a>
  </div>
  <ul class="nav navbar-nav pull-xs-right">
    <ng-container>
      <li class="nav-item">
        <a [routerLink]="['/currency']" class="nav-link">
          <i class="ion-compose"></i>
          &nbsp; Currency
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/portfolio']" class="nav-link">
          <i class="ion-compose"></i>
          &nbsp; Portfolio
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/portfolio-line']" class="nav-link">
          <i class="ion-gear-a"></i>
          &nbsp; Portfolio lines
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
