<div class="currency-box" *ngIf="currencyList != null; else empty">
  <h2>Currency</h2>
  <span>
    <a [routerLink]="['/currency', 'new']">
      <fa-icon [icon]="new"></fa-icon> Add New
    </a>
  </span>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Acronym</th>
      <th scope="col">Name</th>
      <th scope="col">Functionality</th>
    </tr>
    </thead>
    <tbody>
    <tr class="currency-list" *ngFor="let currency of currencyList">
      <th scope="row">{{currency.id}}</th>
      <td>{{currency.acronym}}</td>
      <td>{{currency.name}}</td>
      <td>
      <span>
        <a [routerLink]="['/currency', currency.id, 'edit']" [queryParams]="{name: currency.name, acronym: currency.acronym}">
          <fa-icon [icon]="edit"></fa-icon>
        </a>
      </span>
      <span (click)="removeCurrency(currency.id)">
        <fa-icon [icon]="trash"></fa-icon>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--pre>{{crypto|json}}</pre-->
<ng-template #empty>
  <span>Currency is empty.</span>
</ng-template>
