<div class="currency-box" *ngIf="portfolioList != null; else empty">
  <h2>Portfolio</h2>
  <span>
    <a [routerLink]="['/portfolio', 'new']">
      <fa-icon [icon]="new"></fa-icon> Add New
    </a>
  </span>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Functionality</th>
    </tr>
    </thead>
    <tbody>
    <tr class="currency-list" *ngFor="let portfolio of portfolioList">
      <th scope="row">{{portfolio.id}}</th>
      <td>{{portfolio.name}}</td>
      <td>
      <span>
        <a [routerLink]="['/portfolio', portfolio.id, 'edit']" [queryParams]="{name: portfolio.name}">
          <fa-icon [icon]="edit"></fa-icon>
        </a>
      </span>
        <span (click)="removePortfolio(portfolio.id)">
        <fa-icon [icon]="trash"></fa-icon>
      </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <span>Loading...</span>
</ng-template>
