<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class="form-control form-control-lg"
                     placeholder="Acronym"
                     formControlName="acronym" />
            </fieldset>
            <fieldset class="form-group">
              <input type="text"
                     class="form-control form-control-lg"
                     placeholder="name"
                     formControlName="name" />
            </fieldset>
            <fieldset>
              <button type="submit"
                      class="btn btn-lg pull-xs-right btn-primary"
                      [disabled]="form.invalid || isSubmittingProps"
              >Submit Currency</button>
            </fieldset>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
